@page
@model EasyBeautyASP.Pages.AboutModel
@{
	ViewData["Title"] = "About Us";
    Layout = "_Layout";
}

<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img width="100%" src="assets/media/images/psychowide (1).png" alt="product" class="py-5">
      </div>
      <div class="col-md-6 col-sm-12 my-5 ">
        <div class="card card-style">
          <div class="card-body">
                    <h3 class="card-title">О нас</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Мы — команда профессиональных психологов, педагогов и IT-специалистов, объединившихся, чтобы сделать качественное психологическое образование доступным каждому.:</h6>
                    <p class="card-text">Наша миссия — помочь вам лучше понимать себя, развивать эмоциональный интеллект, строить гармоничные отношения и заботиться о ментальном здоровье.

                        На нашей платформе вы найдёте курсы по практической психологии, психотерапии, саморазвитию и осознанности. Все материалы разработаны с учётом современных научных подходов и адаптированы под онлайн-формат.

                        Будь то первый шаг в профессию или личный интерес — вы в надёжных руках.
                    </p>
          </div>
        </div>
      </div>
    </div>
  </div>