@page
@model EasyBeautyASP.Pages.NewProductsModel
@{
    ViewData["Title"] = "Добавить новый товар";
    Layout = "_Layout";
}

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4 content">Добавить товар</h2>

    <form method="post" enctype="multipart/form-data" class="form wide-form">
        <div class="mb-3 input-control">
            <label class="register-label">Название</label>
            <input type="text" asp-for="Products.ProductName" class="register-input" />
            <span asp-validation-for="Products.ProductName" class="text-danger"></span>
        </div>

        <div class="mb-3 input-control">
            <label class="register-label">Первое описание</label>
            <textarea asp-for="Products.ProductFirstDescription" class="register-textarea"></textarea>
            <span asp-validation-for="Products.ProductFirstDescription" class="text-danger"></span>
        </div>

        <div class="mb-3 input-control">
            <label class="register-label">Второе описание</label>
            <textarea asp-for="Products.ProductSecondDescription" class="register-textarea"></textarea>
            <span asp-validation-for="Products.ProductSecondDescription" class="text-danger"></span>
        </div>

        <div class="mb-3 input-control">
            <label class="register-label">Цена ($)</label>
            <input type="number" asp-for="Products.ProductPrice" class="register-input" />
            <span asp-validation-for="Products.ProductPrice" class="text-danger"></span>
        </div>

        <div class="mb-3 input-control">
            <label class="register-label">Ссылка на курс (облако)</label>
            <input type="text" asp-for="Products.ProductDownloadLink" class="register-input" />
            <span asp-validation-for="Products.ProductDownloadLink" class="text-danger"></span>
        </div>

        <div class="mb-3 input-control">
            <label class="register-label">Загрузить изображение</label>
            <input type="file" asp-for="UploadedImage" class="form-control" />
            <span asp-validation-for="UploadedImage" class="text-danger"></span>
        </div>


        <div class="d-flex gap-3">
            <button type="submit" class="register-button" style="width: auto;">Сохранить</button>
            <a asp-page="./ShopAdmin" class="button" style="background-color: #ccc; color: #1E758F; width: auto;">Отмена</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
